
@{
    ViewBag.Title = "_Footer";
}

<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            <div class="textfooter">
                <p>THAIVIET SMILE TRAVEL CO., LTD</p>
                <p>268 Nguyen Xien Str., Thanh Xuan Dist., Hanoi, Vietnam.</p>
                <p>12 Bui Chat Str., Lien Chieu Dist., Danang, Vietnam.</p>
                <p>Copyright &copy; ThachSungDo 2017</p>
            </div>
        </div>
    </div>
</footer>

