<!DOCTYPE html>
<html>

<head>
    <title>Xác nhận đặt tour {{TenTour}} thành công</title>
    <meta charset="utf-8" />

        <style type="text/css">
        .tourInfo {
            width: 500px;
            border-collapse: collapse;
        }
 
            .tourInfo td {
                border: 1px solid black;
            }
 
                .tourInfo td:nth-child(even) {
                    background-color: #E4FFB7;
                }
 
                .tourInfo td:nth-child(odd) {
                    background-color: #EFFFD2;
                }
 
            .tourInfo tr:first-child td {
                text-align: center;
                font-weight: bolder;
                background-color: #80B327;
                color: white;
            }
    </style>
</head>
<body>
    <div>Chúng tôi đã nhận được đặt tour từ bạn. Chúng tôi sẽ liên hệ lại với bạn trong thời gian sớm nhất</div><br />
    <label class="label-success">Liên lạc với chúng tôi Mr.Long. Thái Lan Tel 0876366396 - 00 984 916 745 457 Việt Nam.</label><br />
    <label class="label-success">E-mail : thaivietsmiletravel@gmail.com</label><br />
    <label class="label-success">Skype : thaivietsmiletravel</label><br />
    <label class="label-success">ID Line : thaivietsmiletravel</label><br />
    <label class="label-success">Website : http://www.thaivietsmile.com/ </label><br />
    <label class="label-success">Văn phòng tại Hà Nội: 268 Nguyen Xien Str., Thanh Xuan Dist., Hanoi, Vietnam.</label><br />
    <label class="label-success">Văn phòng tại Đà Nẵng: 12 Bui Chat Str., Lien Chieu Dist., Danang, Vietnam.</label><br />
</body>
</html>
