<!DOCTYPE html>
<html>

<head>
    <title>Thông tin đơn hàng từ khách hàng: {{TenKH}}</title>
    <meta charset="utf-8" />

        <style type="text/css">
        .tourInfo {
            width: 500px;
            border-collapse: collapse;
        }
 
            .tourInfo td {
                border: 1px solid black;
            }
 
                .tourInfo td:nth-child(even) {
                    background-color: #E4FFB7;
                }
 
                .tourInfo td:nth-child(odd) {
                    background-color: #EFFFD2;
                }
 
            .tourInfo tr:first-child td {
                text-align: center;
                font-weight: bolder;
                background-color: #80B327;
                color: white;
            }
    </style>
</head>
<body>
    <table class="tourInfo">
        <tbody>
            <tr>
                <td colspan="6">Thông tin đặt tour</td>
            </tr>
            <tr class="mainRow">
                <td>Tên khách hàng</td>
                <td>{{TenKH}}</td>
            </tr>
            <tr class="altRow">
                <td>Số điện thoại</td>
                <td>{{SoDT}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{Email}}</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>{{DiaChi}}</td>
            </tr>
            <tr>
                <td>Tên tour</td>
                <td>{{TenTour}}</td>
            </tr>
            <tr>
                <td>Số người</td>
                <td>{{SoNguoi}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
