<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="TVSTravelDbContext" connectionString="data source=THACHSUNGDO;initial catalog=ThaiVietSmileTravel;persist security info=True;user id=sa;password=Hatinh@1989;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="TVSTravelDbContext" connectionString="workstation id=ThaiVietSmileTravel.mssql.somee.com;packet size=4096;user id=thachsungdo_SQLLogin_1;pwd=wziwjdwdz1;data source=ThaiVietSmileTravel.mssql.somee.com;persist security info=False;initial catalog=ThaiVietSmileTravel" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>