<!DOCTYPE html>
<html>

<head>
    <title>ยืนยันการติดต่อจากเว็บไซต์ www.thaivietsmile.com</title>
    <meta charset="utf-8" />
        <style type="text/css">
        .tourInfo {
            width: 500px;
            border-collapse: collapse;
        }
 
            .tourInfo td {
                border: 1px solid black;
            }
 
                .tourInfo td:nth-child(even) {
                    background-color: #E4FFB7;
                }
 
                .tourInfo td:nth-child(odd) {
                    background-color: #EFFFD2;
                }
 
            .tourInfo tr:first-child td {
                text-align: center;
                font-weight: bolder;
                background-color: #80B327;
                color: white;
            }
    </style>
</head>
<body>
    <div>ที่เราได้รับชื่อผู้ติดต่อจากคุณ. เราจะติดต่อคุณภายในเวลาที่สั้นที่สุด</div><br/>
    <label class="label-success">ติดต่อสอบถามได้ที่ Mr.Long. เบอร์โทรไทย 0876366396 - เวียดนาม 00984 916745457.</label><br />
    <label class="label-success">E-mail : thaivietsmiletravel@gmail.com</label><br />
    <label class="label-success">Skype : thaivietsmiletravel</label><br />
    <label class="label-success">ID Line : thaivietsmiletravel</label><br />
    <label class="label-success">Website : http://www.thaivietsmile.com/ </label><br />
    <label class="label-success">สำนักงานที่ ฮานอย: 268 Nguyen Xien Str., Thanh Xuan Dist., Hanoi, Vietnam.</label><br />
    <label class="label-success">สาขาที่ ดานัง: 12 Bui Chat Str., Lien Chieu Dist., Danang, Vietnam.</label><br />
</body>
</html>
