
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success error-contact">
    @ThaiVietSmileTravel.Globalization.Resource.sendContactSuccess
</div>

