
@{
    ViewBag.Title = "Send Contact Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger error-contact">
    @ThaiVietSmileTravel.Globalization.Resource.sendContactError
</div>

